/* REMOVING MARGIN AND PADDING */
body{
    margin: 0px;
    padding: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
}
ol{
    margin: 0px;
    padding: 0px;
}
/* HEADER ELEMENTS */

.header-container{
    background: lightcyan;
    color: black;
    margin: auto;
    padding: 5px ;
    text-align: center;
}
.header-container > h1{
    margin: 0;
}
.home{
    color: black;
    text-decoration: none;
}

/* CONTENT ELEMENTS */

/* IMG CONTAINER */
.imgcontainer{
    text-align: center;
    background: lightcyan;
    padding-bottom: 5px;
}
.imgcontainer > img{
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.list-container{
    background: lightcyan;
    padding: 5px ;
    text-align: center;
}
.list-container li{
    padding: 5px;
    list-style-type: none;
}
li::marker{
    color:blueviolet;
}
.list-container a{
    color: darkred;

}

