<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titlehere</title>
</head>
<body>
    <div>
        <a href="../index.html">Home</a>
    </div>
    <div class="imgcontainer">
        <img src="Imghere" alt="" height="310" width="310">
    </div>
<ul>
    <p>Titlehere</p>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
</ul>
<ol>
    <p>Directions:</p>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
</ol>

</body>
</html>