<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titlehere</title>
<link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="header-container">
        <h1>
            <a class="home" href="../index.html">Home</a>
        </h1>
    </div>
    
    <div class="imgcontainer">
        <img src="Imghere" alt="" height="310" width="310">
    </div>

<div class="list-container">
    <ul>
    <p>Titlehere</p>
        <li>IngredientsHere</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
</ul>
</div>

<div id="directions">    
    <p>Directions:</p>
<ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
</ol>
</div>

</body>
</html>